:root {
  font-size: 16px;
  padding: 0.5rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: 0 auto;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-columns-auto {
  --grid-gap: 1rem;
  --grid-min: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
  grid-gap: var(--grid-gap);
}

.site-table-responsive {
  width: 100%;
  overflow-x: auto;
}

.site-nav-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav-menu a {
  display: block;
}

.site-flex-column {
  display: flex;
  flex-direction: column;
}

.site-gap {
  padding: 0.25rem;
}

.site-toc-container {
  margin-top: 1rem;
}

.site-toc {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-toc a {
  display: block;
}

footer {
  margin-top: 1rem;
}

pre,
code,
kbd,
samp {
  font-family: "JetBrains Mono", "Cascadia Code", "Menlo", "Consolas", monospace;
  font-variant-ligatures: none;
}

@media (min-width: 900px) {
  :root {
    font-size: 18px;
    padding: 1rem;
  }

  .site-nav-menu {
    display: flex;
    flex-direction: row;
  }

  .site-nav-menu a {
    display: inline;
  }

  .site-nav-menu > li + li {
    padding-left: 1rem;
  }

  .site-toc-container {
    float: right;
    margin: 1rem;
    margin-right: 0;
  }

  .site-example {
    border-left: 2px dotted var(--bit-color-0);
    padding-left: 2rem;
  }
}
