.bit-root {
  --bit-color-0: #222323;
  --bit-color-1: #f0f6f0;
  --bit-button-padding-horizontal: 1em;
  --bit-button-padding-vertical: 0.5em;
  --bit-select-padding-horizontal: 1em;
  --bit-select-padding-vertical: 0.5em;
  --bit-input-padding-horizontal: 0.5em;
  --bit-input-padding-vertical: 0.5em;
  --bit-table-padding-horizontal: 1em;
  --bit-table-padding-vertical: 0.5em;
  --bit-card-padding-horizontal: 1em;
  --bit-card-padding-vertical: 1em;
  --bit-pre-padding-horizontal: 1em;
  --bit-pre-padding-vertical: 1em;
  --bit-code-padding-horizontal: 0.2em;
  --bit-code-padding-vertical: 0.1em;
  --bit-radiocheckbox-size: 1.25em;
  --bit-border-width: 2px;
  --bit-border-radius: 0px;
  --bit-select-handle-width: 1em;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
}

/* Checkbox / Radio Button Field Container */

.bit-field {
  box-sizing: border-box;
  display: grid;
  grid-gap: calc(2 * var(--bit-border-width));
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.bit-field > .bit-radio + *,
.bit-field > .bit-checkbox + * {
  user-select: none;
}

.bit-field > .bit-radio:disabled + *,
.bit-field > .bit-checkbox:disabled + * {
  opacity: 0.5;
}

/* Checkbox / Radio Button */

.bit-checkbox {
  border-radius: var(--bit-border-radius);
}

.bit-radio {
  border-radius: 9999em;
}

.bit-checkbox,
.bit-radio {
  box-sizing: border-box;
  -webkit-appearance: none;
  font: inherit;
  width: var(--bit-radiocheckbox-size);
  height: var(--bit-radiocheckbox-size);
  margin: calc(2 * var(--bit-border-width));
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border: var(--bit-border-width) solid var(--bit-color-0);
}

.bit-checkbox:hover,
.bit-radio:hover {
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0);
}

.bit-checkbox:focus,
.bit-radio:focus {
  outline: 0;
  box-shadow: 0 0 0 var(--bit-border-width) var(--bit-color-1),
    0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-0),
    inset 0 0 0 var(--bit-border-width) var(--bit-color-1);
}

.bit-checkbox:checked,
.bit-radio:checked {
  background: var(--bit-color-0);
  box-shadow: inset 0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-1);
}

.bit-checkbox:checked:hover,
.bit-radio:checked:hover {
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0),
    inset 0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-1);
}

.bit-checkbox:checked:focus,
.bit-radio:checked:focus {
  box-shadow: 0 0 0 var(--bit-border-width) var(--bit-color-1),
    0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-0),
    inset 0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-1);
}

.bit-checkbox:disabled:hover,
.bit-radio:disabled:hover,
.bit-checkbox:disabled,
.bit-radio:disabled {
  opacity: 0.5;
  border-style: dotted;
  box-shadow: none;
}

/* Table */

.bit-table {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border-collapse: collapse;
}

.bit-table th {
  padding: var(--bit-table-padding-vertical) var(--bit-table-padding-horizontal);
  text-align: left;
}

.bit-table tbody tr {
  border-top: calc(0.5 * var(--bit-border-width)) solid var(--bit-color-0);
}

.bit-table th,
.bit-table td {
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-table-padding-vertical) var(--bit-table-padding-horizontal);
}

.bit-table thead {
  border-top: 0;
  border-bottom: var(--bit-border-width) solid var(--bit-color-0);
}

.bit-table tfoot {
  border-top: var(--bit-border-width) solid var(--bit-color-0);
  border-bottom: 0;
}

/* Button */

.bit-button {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-button-padding-vertical)
    var(--bit-button-padding-horizontal);
  font: inherit;
  border: var(--bit-border-width) solid var(--bit-color-0);
  box-shadow: inset 0 calc(-1 * var(--bit-border-width)) 0 var(--bit-color-0);
  border-radius: var(--bit-border-radius);
}

.bit-button:hover {
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0);
}

.bit-button:active {
  transform: translateY(var(--bit-border-width));
}

.bit-button:focus {
  outline: none;
  border-color: var(--bit-color-1);
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0),
    0 0 0 var(--bit-border-width) var(--bit-color-0),
    inset 0 calc(-2 * var(--bit-border-width)) 0 var(--bit-color-0);
}

.bit-button:disabled:hover,
.bit-button:disabled {
  transform: none;
  opacity: 0.5;
  box-shadow: none;
  border-color: var(--bit-color-0);
  border-style: dotted;
}

/* Select */

.bit-select {
  box-sizing: border-box;
  -webkit-appearance: none;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-select-padding-vertical)
    var(--bit-select-padding-horizontal);
  padding-right: calc(
    var(--bit-select-padding-horizontal) + var(--bit-select-handle-width)
  );
  font: inherit;
  border: var(--bit-border-width) solid var(--bit-color-0);
  border-radius: var(--bit-border-radius);
  box-shadow: inset 0 calc(-1 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset 0 var(--bit-border-width) 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-border-width)) 0 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-select-handle-width)) 0 0 0 var(--bit-color-0),
    inset
      calc(-1 * var(--bit-select-handle-width) + -1 * var(--bit-border-width)) 0
      0 0 var(--bit-color-1);
}

.bit-select:hover {
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0),
    inset 0 calc(-2 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset 0 calc(2 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset calc(-2 * var(--bit-border-width)) 0 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-select-handle-width)) 0 0 0 var(--bit-color-0),
    inset
      calc(-1 * var(--bit-select-handle-width) + -1 * var(--bit-border-width)) 0
      0 0 var(--bit-color-1);
}

.bit-select:focus {
  outline: none;
  border-color: var(--bit-color-1);
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0),
    inset 0 calc(-2 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset 0 calc(2 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset calc(-2 * var(--bit-border-width)) 0 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-select-handle-width)) 0 0 0 var(--bit-color-0),
    inset
      calc(-1 * var(--bit-select-handle-width) + -1 * var(--bit-border-width)) 0
      0 0 var(--bit-color-1),
    0 0 0 var(--bit-border-width) var(--bit-color-0);
}

.bit-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--bit-color-0);
}

.bit-select:disabled:hover,
.bit-select:disabled {
  opacity: 0.5;
  border-color: var(--bit-color-0);
  border-style: dotted;
  box-shadow: inset 0 calc(-1 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset 0 calc(1 * var(--bit-border-width)) 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-border-width)) 0 0 0 var(--bit-color-1),
    inset calc(-1 * var(--bit-select-handle-width)) 0 0 0 var(--bit-color-0),
    inset
      calc(-1 * var(--bit-select-handle-width) + -1 * var(--bit-border-width)) 0
      0 0 var(--bit-color-1);
}

/* Link */

.bit-link {
  color: var(--bit-color-0);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: var(--bit-border-width);
  border-radius: var(--bit-border-radius);
}

.bit-link:hover {
  border-radius: var(--bit-border-radius);
  background: var(--bit-color-1);
  text-decoration: none;
  box-shadow: 0 0 0 var(--bit-border-width) var(--bit-color-1),
    0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-0);
}

.bit-link:focus {
  border-radius: var(--bit-border-radius);
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 var(--bit-border-width) var(--bit-color-0),
    0 0 0 calc(2 * var(--bit-border-width)) var(--bit-color-1),
    0 0 0 calc(3 * var(--bit-border-width)) var(--bit-color-0);
}

/* Input / Text Area */

.bit-input {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  font: inherit;
  padding: var(--bit-input-padding-vertical) var(--bit-input-padding-horizontal);
  border: var(--bit-border-width) solid var(--bit-color-0);
  box-shadow: inset 0 var(--bit-border-width) 0 var(--bit-color-0);
  border-radius: var(--bit-border-radius);
}

.bit-input:hover {
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0);
}

.bit-input:focus {
  outline: none;
  border-color: var(--bit-color-1);
  box-shadow: inset 0 0 0 var(--bit-border-width) var(--bit-color-0),
    0 0 0 var(--bit-border-width) var(--bit-color-0),
    inset 0 calc(2 * var(--bit-border-width)) 0 var(--bit-color-0);
}

.bit-input:disabled:hover,
.bit-input:disabled {
  opacity: 0.5;
  box-shadow: none;
  border-color: var(--bit-color-0);
  border-style: dotted;
}

.bit-input::placeholder {
  color: var(--bit-color-0);
  opacity: 0.5;
}

.bit-input::selection {
  background: var(--bit-color-0);
  color: var(--bit-color-1);
}

/* Firefox nonsense */

.bit-checkbox::-moz-focus-inner,
.bit-radio::-moz-focus-inner,
.bit-select::-moz-focus-inner,
.bit-button::-moz-focus-inner,
.bit-input::-moz-focus-inner {
  border: 0;
}

/* Miscellaneous */

.bit-card {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border: var(--bit-border-width) solid var(--bit-color-0);
  box-shadow: calc(2 * var(--bit-border-width))
    calc(2 * var(--bit-border-width)) 0 var(--bit-color-0);
  padding: var(--bit-card-padding-vertical) var(--bit-card-padding-horizontal);
  border-radius: var(--bit-border-radius);
}

.bit-scrollbar {
  scrollbar-color: var(--bit-color-0) var(--bit-color-1);
}

.bit-svg {
  fill: var(--bit-color-0);
}

.bit-code {
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  padding: var(--bit-code-padding-vertical) var(--bit-code-padding-horizontal);
  border-radius: var(--bit-border-radius);
}

.bit-hr {
  box-sizing: border-box;
  border: 0;
  border-top: var(--bit-border-width) solid var(--bit-color-0);
}

.bit-pre {
  box-sizing: border-box;
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  scrollbar-color: var(--bit-color-1) var(--bit-color-0);
  overflow-x: auto;
  padding: var(--bit-pre-padding-vertical) var(--bit-pre-padding-horizontal);
  border-radius: var(--bit-border-radius);
}
