.bit-root {
  --bit-color-0: #222323;
  --bit-color-1: #f0f6f0;
  --bit-button-padding-horizontal: 1em;
  --bit-button-padding-vertical: 0.5em;
  --bit-select-padding-horizontal: 1em;
  --bit-select-padding-vertical: 0.5em;
  --bit-input-padding-horizontal: 0.5em;
  --bit-input-padding-vertical: 0.5em;
  --bit-table-padding-horizontal: 1em;
  --bit-table-padding-vertical: 0.5em;
  --bit-card-padding-horizontal: 1em;
  --bit-card-padding-vertical: 1em;
  --bit-pre-padding-horizontal: 1em;
  --bit-pre-padding-vertical: 1em;
  --bit-code-padding-horizontal: 0.2em;
  --bit-code-padding-vertical: 0.1em;
  --bit-radiocheckbox-size: 1.25em;
  --bit-radiocheckbox-margin: 0.25em;
  --bit-field-gap: 0.25em;
  --bit-border-radius: 0px;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
}

/* -------------------------------------------------------------------------- */

.bit-field {
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--bit-field-gap);
  grid-template-columns: min-content 1fr;
  align-items: center;
}

.bit-field > .bit-radio + *,
.bit-field > .bit-checkbox + * {
  user-select: none;
}

.bit-field > .bit-radio:disabled + *,
.bit-field > .bit-checkbox:disabled + * {
  opacity: 0.5;
}

/* -------------------------------------------------------------------------- */

.bit-checkbox {
  border-radius: var(--bit-border-radius);
}

.bit-radio {
  border-radius: 9999px;
}

.bit-checkbox,
.bit-radio {
  box-sizing: border-box;
  -webkit-appearance: none;
  font: inherit;
  width: var(--bit-radiocheckbox-size);
  height: var(--bit-radiocheckbox-size);
  margin: var(--bit-radiocheckbox-margin);
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border: 2px solid var(--bit-color-0);
}

.bit-checkbox:hover,
.bit-radio:hover {
  box-shadow: inset 0 0 0 2px var(--bit-color-0);
}

.bit-checkbox:focus,
.bit-radio:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--bit-color-1), 0 0 0 4px var(--bit-color-0),
    inset 0 0 0 2px var(--bit-color-1);
}

.bit-checkbox:checked,
.bit-radio:checked {
  background: var(--bit-color-0);
  box-shadow: inset 0 0 0 4px var(--bit-color-1);
}

.bit-checkbox:checked:hover,
.bit-radio:checked:hover {
  box-shadow: inset 0 0 0 2px var(--bit-color-0),
    inset 0 0 0 4px var(--bit-color-1);
}

.bit-checkbox:checked:focus,
.bit-radio:checked:focus {
  box-shadow: 0 0 0 2px var(--bit-color-1), 0 0 0 4px var(--bit-color-0),
    inset 0 0 0 4px var(--bit-color-1);
}

.bit-checkbox:disabled:hover,
.bit-radio:disabled:hover,
.bit-checkbox:disabled,
.bit-radio:disabled {
  opacity: 0.5;
  border-style: dotted;
  box-shadow: none;
}

/* -------------------------------------------------------------------------- */

.bit-table {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border-collapse: collapse;
}

.bit-table th {
  padding: var(--bit-table-padding-vertical) var(--bit-table-padding-horizontal);
  text-align: left;
}

.bit-table tbody tr {
  border-top: 1px solid var(--bit-color-0);
}

.bit-table th,
.bit-table td {
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-table-padding-vertical) var(--bit-table-padding-horizontal);
}

.bit-table thead {
  border-top: 0;
  border-bottom: 2px solid var(--bit-color-0);
}

.bit-table tfoot {
  border-top: 2px solid var(--bit-color-0);
  border-bottom: 0;
}

/* -------------------------------------------------------------------------- */

.bit-button {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-button-padding-vertical)
    var(--bit-button-padding-horizontal);
  font: inherit;
  border: 2px solid var(--bit-color-0);
  box-shadow: inset 0 -2px 0 var(--bit-color-0);
  border-radius: var(--bit-border-radius);
}

.bit-button:hover {
  box-shadow: inset 0 0 0 2px var(--bit-color-0);
}

.bit-button:active {
  transform: translateY(2px);
}

.bit-button:focus {
  outline: none;
  border-color: var(--bit-color-1);
  box-shadow: inset 0 0 0 2px var(--bit-color-0), 0 0 0 2px var(--bit-color-0),
    inset 0 -4px 0 var(--bit-color-0);
}

.bit-button:disabled:hover,
.bit-button:disabled {
  transform: none;
  opacity: 0.5;
  box-shadow: none;
  border-color: var(--bit-color-0);
  border-style: dotted;
}

/* -------------------------------------------------------------------------- */

.bit-select {
  box-sizing: border-box;
  -webkit-appearance: none;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  padding: var(--bit-select-padding-vertical)
    var(--bit-select-padding-horizontal);
  padding-right: calc(var(--bit-select-padding-horizontal) + 20px);
  font: inherit;
  border: 2px solid var(--bit-color-0);
  border-radius: var(--bit-border-radius);
  /* prettier-ignore */
  box-shadow:
    inset 0 -2px 0 0 var(--bit-color-1),
    inset 0 2px 0 0 var(--bit-color-1),
    inset -2px 0 0 0 var(--bit-color-1),
    inset -20px 0 0 0 var(--bit-color-0),
    inset -22px 0 0 0 var(--bit-color-1);
}

.bit-select:hover {
  /* prettier-ignore */
  box-shadow:
    inset 0 0 0 2px var(--bit-color-0),
    inset 0 -4px 0 0 var(--bit-color-1),
    inset 0 4px 0 0 var(--bit-color-1),
    inset -4px 0 0 0 var(--bit-color-1),
    inset -20px 0 0 0 var(--bit-color-0),
    inset -22px 0 0 0 var(--bit-color-1);
}

.bit-select:focus {
  outline: none;
  border-color: var(--bit-color-1);
  /* prettier-ignore */
  box-shadow:
    inset 0 0 0 2px var(--bit-color-0),
    inset 0 -4px 0 0 var(--bit-color-1),
    inset 0 4px 0 0 var(--bit-color-1),
    inset -4px 0 0 0 var(--bit-color-1),
    inset -20px 0 0 0 var(--bit-color-0),
    inset -22px 0 0 0 var(--bit-color-1),
    0 0 0 2px var(--bit-color-0);
}

.bit-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--bit-color-0);
}

.bit-select:disabled:hover,
.bit-select:disabled {
  opacity: 0.5;
  border-color: var(--bit-color-0);
  border-style: dotted;
  /* prettier-ignore */
  box-shadow:
    inset 0 -2px 0 0 var(--bit-color-1),
    inset 0 2px 0 0 var(--bit-color-1),
    inset -2px 0 0 0 var(--bit-color-1),
    inset -20px 0 0 0 var(--bit-color-0),
    inset -22px 0 0 0 var(--bit-color-1);
}

/* -------------------------------------------------------------------------- */

.bit-link {
  color: var(--bit-color-0);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  border-radius: var(--bit-border-radius);
}

.bit-link:hover {
  border-radius: var(--bit-border-radius);
  background: var(--bit-color-1);
  text-decoration: none;
  box-shadow: 0 0 0 2px var(--bit-color-1), 0 0 0 4px var(--bit-color-0);
}

.bit-link:focus {
  border-radius: var(--bit-border-radius);
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 2px var(--bit-color-0), 0 0 0 4px var(--bit-color-1),
    0 0 0 6px var(--bit-color-0);
}

/* -------------------------------------------------------------------------- */

.bit-input {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  font: inherit;
  padding: var(--bit-input-padding-vertical) var(--bit-input-padding-horizontal);
  border: 2px solid var(--bit-color-0);
  box-shadow: inset 0 2px 0 var(--bit-color-0);
  border-radius: var(--bit-border-radius);
}

.bit-input:hover {
  box-shadow: inset 0 0 0 2px var(--bit-color-0);
}

.bit-input:focus {
  outline: none;
  border-color: var(--bit-color-1);
  box-shadow: inset 0 0 0 2px var(--bit-color-0), 0 0 0 2px var(--bit-color-0),
    inset 0 4px 0 var(--bit-color-0);
}

.bit-input:disabled:hover,
.bit-input:disabled {
  opacity: 0.5;
  box-shadow: none;
  border-color: var(--bit-color-0);
  border-style: dotted;
}

.bit-input::placeholder {
  color: var(--bit-color-0);
  opacity: 0.5;
}

.bit-input::selection {
  background: var(--bit-color-0);
  color: var(--bit-color-1);
}

/* -------------------------------------------------------------------------- */

.bit-checkbox::-moz-focus-inner,
.bit-radio::-moz-focus-inner,
.bit-select::-moz-focus-inner,
.bit-button::-moz-focus-inner,
.bit-input::-moz-focus-inner {
  border: 0;
}

/* -------------------------------------------------------------------------- */

.bit-card {
  box-sizing: border-box;
  background: var(--bit-color-1);
  color: var(--bit-color-0);
  border: 2px solid var(--bit-color-0);
  box-shadow: 4px 4px 0 var(--bit-color-0);
  padding: var(--bit-card-padding-vertical) var(--bit-card-padding-horizontal);
  border-radius: var(--bit-border-radius);
}

.bit-scrollbar {
  scrollbar-color: var(--bit-color-0) var(--bit-color-1);
}

.bit-svg {
  fill: var(--bit-color-0);
}

.bit-code {
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  padding: var(--bit-code-padding-vertical) var(--bit-code-padding-horizontal);
  border-radius: var(--bit-border-radius);
}

.bit-hr {
  box-sizing: border-box;
  border: 0;
  border-top: 2px solid var(--bit-color-0);
}

.bit-pre {
  box-sizing: border-box;
  background: var(--bit-color-0);
  color: var(--bit-color-1);
  scrollbar-color: var(--bit-color-1) var(--bit-color-0);
  overflow-x: auto;
  padding: var(--bit-pre-padding-vertical) var(--bit-pre-padding-horizontal);
  border-radius: var(--bit-border-radius);
}
