:root {
  box-sizing: border-box;
  font-size: 16px;
  padding: 1rem;
  line-height: 1.5;
  overflow-y: scroll;
  --site-font-monospace: "JetBrains Mono", "Cascadia Code", "Menlo", "Consolas",
    monospace;
  --site-font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: var(--site-font-sans);
}

body {
  max-width: 50rem;
  margin: 0 auto;
}

footer {
  margin-top: 1rem;
}

pre,
code,
kbd,
samp {
  font-family: var(--site-font-monospace);
  font-variant-ligatures: none;
}

.site-property-editor {
  margin-bottom: 1rem;
  max-width: max-content;
}

.site-property-editor-grid {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  font-family: var(--site-font-monospace);
}

.site-property-editor-title {
  font-family: var(--site-font-sans);
  margin-top: 0;
  margin-bottom: 1rem;
}

.site-columns-auto {
  --grid-gap: 1rem;
  --grid-min: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
  grid-gap: var(--grid-gap);
}

.site-link-header {
  color: inherit;
  text-decoration: none;
}

.site-link-header:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.site-table-responsive {
  width: 100%;
  overflow-x: auto;
}

.site-nav-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-nav-menu a {
  display: block;
}

.site-flex-row {
  --site-flex-row-gap: 1rem;
  display: flex;
}

.site-flex-row > * + * {
  margin-left: var(--site-flex-row-gap);
}

.site-flex-column {
  display: flex;
  flex-direction: column;
}

.site-gap {
  padding: 0.25rem;
}

.site-example-heading {
  margin-top: 0;
}

.site-toc-container {
  margin-top: 1rem;
}

.site-toc {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.site-toc a {
  display: block;
}

.site-example {
  --site-example-offset: 1rem;
  border-left: var(--bit-border-width) solid var(--bit-color0);
  padding-left: var(--site-example-offset);
  margin-left: calc(-1 * var(--site-example-offset));
}

@media (min-width: 900px) {
  :root {
    font-size: 18px;
  }

  .site-property-editor-grid {
    --bit-input-padding-horizontal: 0.5em;
    --bit-input-padding-vertical: 0.25em;
    font-size: 16px;
    grid-template-columns: max-content 10em;
  }

  .site-nav-menu {
    display: flex;
    flex-direction: row;
  }

  .site-nav-menu a {
    display: inline;
  }

  .site-nav-menu > li + li {
    padding-left: 1rem;
  }

  .site-toc-container {
    float: right;
    margin: 1rem;
    margin-right: 0;
  }
}
